/**************************************Global Styles Start************************************************/
/******
primary_color: #9d9ca1
secondary: #e1e5e8
third(buttons/highlights etc): #0195dc
fourth:#262626 text
*****/
html, body {
    margin: 0;
    padding: 0;
}
/*******header Styles Start*********/
.header_container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    height: 100px;

    background-color: #9d9ca1;
    position: relative;
    padding: 20px;
}
.header_container h1{
    font-size: xx-large;
    font-family: "Days One", sans-serif;
    color: #262626;
}
.nav_button{
    position: absolute;
    right: 20px;
    height: 90px;

}
.header_logo{
    position: absolute;
    left: 20px;
    font-family: Roboto sans-serif;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid black;
    border-right: 2px solid black;

}
.app_navigation{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    opacity: 1;
    position: fixed;
    top: 120px;
    right: -300px;
    width: 300px;
    min-height: 100vh;
    background-color:#9d9ca1 ;
    z-index: 2;

}
.nav_item{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
    font-family: "Urbanist", sans-serif;
    font-size: x-large;
    background-color:#0195dc;
    padding: 15px 20px 15px 20px;
    width: 200px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #e1e5e8;
    color: #262626;
    text-decoration: none;
}
.nav_item a:visited{
    color: #262626;
    text-decoration: none!important;
    text-underline: none;
}
/*******header Styles end*********/

/*******Footer Styles Start*********/
.footer_content_container{
    border-top: 2px solid black ;
    display: flex;
    flex-flow: column nowrap;
    background-color: #9d9ca1;
    justify-content: center;
    align-items: center;
}
.footer_content_container p {
    font-family: "Urbanist", sans-serif;
    color: #262626;
}
.tdmark{
    padding: 15px;
    border-bottom: 2px solid black;
}
/*******Footer Styles end*********/

/******Content Container*******/
.content_container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #9d9ca1;
    color: #262626;

}

/*******Product Card*******/
.product_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.product_card{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    min-width: 25vw;
    height: 60vh;

    margin: 20px;
    font-family: "Urbanist", sans-serif;

}
.product_content{
    width: 20vw;
    height: 60vh;
    background-color: #e1e5e8;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

}
.action_buttons{
    width: 5vw;
    height: 60vh;
    background-color: #e1e5e8;

    opacity: 0; /* Initially hide the action buttons */
    transition: opacity 0.3s ease; /* Add transition effect for smooth visibility */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.product_image_container{
    height: 40vh;
    width: 20vw;
}
.product_image_container img{
    height: 40vh;
    width: 20vw;
}
.product_data_short{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    width: 20vw;
    height: 20vh;
}
.product_name_desc_container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.product_name{
    font-weight: bolder;
}
.product_desc{
    width: 15vw;
}
.product_card:hover .action_buttons{
    opacity: 1;
}
.action_button{
    width: 4vw;
}
/*Product Card End*/

.input_text, .input_message{
    width: 25vw;
    padding: 12px 8px 12px 8px;
    margin: 8px;

    text-align: center;
    background-color: black;
    color: #0195dc;

    border-bottom: 3px solid #0195dc;
    border-radius: 12px;
}
.input_message{
    height: 20vh;
    text-align: start;
    resize: none;
}
.input_submit{
    width: 10vw;
    background-color: black;
    border-radius: 20px;
    padding: 12px;
    border: 2px solid #0195dc;
    color: #0195dc;
    font-size: xx-large;
    text-align: center;
}
.close_button{
    border-radius: 50%;
    background-color: #0195dc;
    position: absolute;
    top: 1vh;
    right: 1vw;
}
/***Cart Styles**/
.amount_module{
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    height: 60vh;
    width: 40vw;

    background-color: #1a202c;
    color: #edf2f7;
    border-radius: 8px;
    border:2px solid #0195dc;

    position: fixed;
    top: 35vh;
    left: 30vw;

}
.amount_form, .success_message{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.success_message{
    display: none;
}
.checkout_container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 130px;
    right: 1vw;

}
.checkout_button{
    height: 40px;
    z-index: 0;
}
.checkout_text{
    opacity: 0;
    transition: opacity 0.5s ;
}
.checkout_container:hover .checkout_text{
    opacity: 1;
}

.checkout_card, .items_container, .payment_container{
    width: 30vw;
}
/*Checkout Page*/
.checkout_card{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    background-color: #edf2f7;
    color: #1a202c;

    padding: 15px;
    margin: 15px;
    border-radius: 8px;
}
.items_container{
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    flex: 2;
    border-right: 2px solid #1a202c;

}
.item, .item-total{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    width: 28vw;
    height: 10vh;

    background-color: #e1e5e8;
    margin: 8px;
}
.item-total{
    margin-top: 10vh;
    width: 20vw;

}
.item_info{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 8vw;
    border-right: 2px solid #1a202c;
    padding: 10px;
}
.payment_container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex: 3;
}
.icon_container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 28vw;
}
.icon_container img{
    width: 13vw;
    height: 15vh;
}
/**************************************Global Styles End************************************************/
/**************************************Contact Styles Start************************************************/
.contact_container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    height: 70vh;
    padding: 20px;
    color: #0195dc;
    background-color: black;
}
.contact_form{
    flex: 2;
    height: 70vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.contact_additional{
    flex: 1;
    height: 70vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #0195dc;
}
.map_container{
    width: 25vw;
}

/**************************************Contact Styles End************************************************/

/**************************************Admin Styles Start************************************************/
.message_card{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    width: 40vw;
    background-color: #1a202c;
    color:#0195dc;

    margin: 20px;
}
.message_field{
    font-size: large;
}

.button_container{
    display: flex;
    flex-flow: row nowrap;

    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.edit_button, .delete_button{
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #0195dc;
    color:#262626 ;
    font-size: x-large;
}
.delete_button{
    margin-left: 8px;
    background-color: indianred;
}
.edit_button{
    margin-right: 8px;
    background-color: lightgreen;
}
.edit_msg_popup, .edit_product_popup{
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1vw;

    position: fixed;
    width: 40vw;
    height: 50vh;

    top: 25vh;
    left: 29vw;

    background-color: black;
    border: 2px solid #0195dc;
}
.edit_product_popup{
    top: 15vh;
    height: 80vh;
}


.table_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 90vw;
}
.admin_product_card{
    width: 40vw;
    height: 80vh;
    background-color: #e1e5e8;
    padding: 15px;
    margin: 20px;

    display: flex;
    flex-flow: column nowrap;
}
.admin_product_row_prim, .admin_product_row_sec{
    display: flex;
}
.admin_product_row_prim{
    width: 40vw;
    height: 40vh;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}
.admin_product_row_sec{
    width: 40vw;
    height: 30vh;

    margin-top: 10px;

    align-items: center;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.admin_image_container{
    width: 20vw;
    height: 40vh;
}
.admin_image_container img{
    width: 20vw;
    height: 40vh;
}
.product_description{
    width: 20vw;
    height: 40vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: x-large;
}
.product_info_field{
    width: 39vw;
    border: 2px solid black;
    text-align: center;
    font-size: xx-large;
}
.add_container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.add_form{
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
/**************************************Admin Styles End************************************************/

/**************************************Product Permalink Start************************************************/
.single_product_card{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    height: 70vh;
    width: 80vw;

    background-color: #e1e5e8;
    margin: 20px;
    padding: 10px;
}
.first_product_row, .second_product_row, .third_product_row{
    width: 75vw;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px;


}
.first_product_row{
    flex: 1;

    justify-content: space-between;
    font-size: xx-large;
}
.second_product_row{
    flex: 5;
    justify-content: space-evenly;
}
.product_image{
    height:43vh ;
}
.product_information_permalink{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.review_container, .size_container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.size_container{
    margin: 10px;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.rating_star{
    height: 20px;
}
.shoe_size{
    padding: 20px;
    background-color: #1a202c;
    color: white;
    border-radius: 8px;
    margin: 20px;
    border: 2px solid #edf2f7;
}

.third_product_row{
    flex: 1;
    justify-content: space-between;
}
.image_nav_container{
    margin-left: 15%;
}
.third_product_row img{
    height: 40px;
}
.add_to_cart, .search_display{
    padding: 20px;
    background-color: #1a202c;
    border: 2px solid #0195dc;
    border-radius: 4px;
    font-size: large;
    color: #edf2f7;
}
.permalink_description{
    margin: 15px;
    text-align: start;
}
/**************************************Product Permalink End************************************************/
/*******************Search Styling Start*******************/
.search_container{
    position: absolute;
    right: 1vw;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}
.search_display{
    text-align: center;
    z-index: 1;
    position: fixed;
    top: 250px;
    right: 1vw;
}
.search_form{
    position: fixed;
    top: 0px;
    width: 30vw;
    right: -40vw;
    height:100vh;
    background-color: #edf2f7;
    margin: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
/*******************Search Styling End*******************/

/*******************Order Styling Start*******************/
.order_container{
    background-color: #edf2f7;
    width: 70vw;
    height: 50vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

    margin: 30px;
}
.order_container h1{
    font-size: xxx-large;
    font-family: "Dancing Script", cursive;
}
.order_info_container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.order_details{
    display: flex;
    flex-flow: column nowrap;
    margin-right: 30px;
}
.order_items{
    display: flex;
    flex-flow: column nowrap;
    margin-left: 30px;
}
.order_container p,.order_info_container p, .order_info{
    font-family: "Urbanist", sans-serif;
}
.order_info{
    font-weight: 700;
}

/*****User Orders****/
.user_order_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.user_order{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 20vw;
    background-color: #edf2f7;
    margin: 20px;
    border-radius: 8px;
    padding: 20px;
    font-family: "Urbanist", sans-serif;
}
.user_order h2{
    font-family: "Days One", sans-serif;
}

.user_items_container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.order_price_container{
    text-align: center;
}
.address_details{
    text-align: center;
}
/*******************Order Styling End*******************/


